.card {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.card-date {
  display: block;
  color: grey;
  margin-bottom: 10px;
}

.card-title {
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

.card-more-btn {
  display: inline-block;
  text-decoration: none;
  background: #2c5898;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  transition: .3s ease-in-out;
  font-size: 15px;
}

.card-more-btn:hover {
  background: #174173;
}